@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "post.css";
        /*------General rules------*/
:root{
    --primary-color: #fff;
    --secondary-color: #337;
    --small-border-color: rgb(235, 235, 235);
    /*ADD COLOR SCHEME*/
    /*LINK HOVER COLOR*/
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    padding: 1em 0 0 0;
}

li{
    list-style:none;
}
    /*------Navbar style------*/
.logo{
    width:auto;
    height:auto;
}

.icon{
    display: flex;
    height: auto;
    width:100%;
    color: var(--secondary-color);
}

.nav-bar{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    padding:1rem;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid var(--small-border-color);
}

.menu{
    line-height: 1.6em;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-left{
    display:flex;
}

.sidebar-right{
    display: none;
    padding: 0 1rem 0 0;
}

.nav-link{
    padding: 0 1rem;
    font-size: 110%;
}
.nav-link:hover{
    color: var(--secondary-color);
}

.sml-btn{
    padding: 0.1rem;
    border: medium thin;
    cursor: pointer;
}
    /*------Hero background------*/
main{
    padding: 64px 0 0 0;
}

.hero{
    background: url(../img/Orange_Beach_Umbrella.jpg) no-repeat center;
    background-size: cover;
    height: 91.1vh;
    width: 100%;
    margin: 0 0 3em 0;
}

.hero-container{
    width:100%;
    height: 91.1vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    background-color: #fff;
    padding: 0 1em 0 1em;
}

.content p{
    font-size: 1.5rem;
}
    /*------Main grid------*/
.grid-main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 5em 2em 2em 2em;
}

.bio h3{
    margin-bottom: 1.5em;
}

h2{
    text-align: center;
}

h2 span{
    display: block;
}

.post-imgs{
    width:100%;
    display: block;
}

.flex-container{
    border: 2px solid var(--small-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
}

.flex-container p{
    text-align:start;
}

.subflex-container{
    display:flex;
    flex-direction: row;
}

.author-img{
    width: 40%;
    display: block;
    border-radius: 60%;
}
.headers{
    padding-left: 1em;
}

.sign-up{
    margin-top: 1em;
}

.email{
    display: inline-block;
    background-color: #fff;
    position: relative;
    width: 100%;
    border-radius: 20px;
    line-height: 0;
}
.submit-btn{
    cursor: pointer;
}
    /*------Footer------*/
footer{
    margin:1em 0 0 1em;
    padding: 0.5em 2em;
    border-top: 2px solid rgb(196, 191, 191);
}
.footer-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.footer-list{
    display: flex;
    flex-direction: row;
}

.footer-list li{
    padding: 0 1rem 1rem 1rem;
    font-size: smaller;
}

.footer-grid-bottom{
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 2em;
}
footer p{
    padding: 0;
    text-align: center;
}

.facebook-link:hover{
    color: #385898;
}

.youtube-link:hover{
    color:#c00;
}

.twitch-link:hover{
    color:#9147ff;
}
@media (min-width:570px){

    h1{
        font-size: 3rem;
    }
}

@media (min-width:768px){

    .grid-main{
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        margin: 5em 5em 2em 5em;
    }

    .sidebar-right{
        display:block;
    }

    .alt-search{
        display: none;
    }

    h1{
        font-size: 4rem;
        margin-bottom: 0.5em;
        background-color: #fff;
        padding: 0 1em 0 1em;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .flex-container p{
        text-align:start;
    }
    .subflex-container{
        flex-direction: column;
    }
    .author-img{
        width: 65%;
        display: block;
        border-radius: 60%;
        justify-self: center;
        align-self: center;
    }

    .headers{
        padding-left: 0;
    }

    .footer-list li{
        padding: 0 3rem 0 3rem;
    }
}
